.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
wp-content/languages/themes/appointment-ru_RU-backup-201801311242560.po~
*.po~
wp-content/languages/themes/appointment-ru_RU-backup-201801311242560.po~